

body {
  background-color: #EFF2EF;
  font-family: 'Rationale', sans-serif;
}

.blokje{
  display: flex;
  justify-content: space-around;
  background-color: #BAD7F2;
  width: 700px;
  height: 300px;
  margin: auto;
}

.SetTimer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SetTimer-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Timer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Controls {
  display: flex;
  justify-content: center;
}


h1 {
  text-align: center;
  font-size: 72px;
  font-weight: lighter;
}

h2{
  color:red;
  font-size: 63px;
  font-weight: lighter;
}

h3{
  font-size: 90px;
  font-weight: lighter;
}

button {
  background-color: #BAD7F2;
}